doctype transitional
html(lang="es")
  head
    title Documento XHTML 1.0 Transitional
    meta(charset="utf-8")
  body
   h1 Documento XHTML 1.0 Transitional
   hr
   p Ejemplo de un documento xhtml 1.0 Transitional desde jade.