html
  head
    title Documento basico
  body
    h1 Documento basico
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus itaque numquam cum possimus magni, velit rerum saepe obcaecati iste, nesciunt tempora temporibus necessitatibus ea atque a ipsum, molestias eos architecto.
    