h2 Enlaces
a(name="inicio")  
a(href='https://scholar.google.com/') Ir a google
br
br
a(href='https://www.youtube.com/') Ir a youtube
h2 Anclas
a(href='#info1') Ir a informacion 1 &nbsp&nbsp
a(href='#info2') Ir a informacion 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a inicio
a(name="info1")
h1 Información 1
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eum iusto doloremque maiores ipsam, iste illum. Quia magnam natus porro in accusantium! Soluta itaque possimus velit mollitia voluptas officiis exercitationem. 
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a inicio
a(name="info2")
h1 Información 2
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatum illo quia, quaerat quos blanditiis nobis iste voluptates laudantium magnam tempore enim, deserunt officia natus doloremque culpa, distinctio dolorum modi.