doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Lista no ordenada 
  body
    ul
      li Amarillo
      li Azul
      li Rojo
      li Rosado
      
    ul
     li Carbohidratos
      ul
        li Lentejas
        li Arroz integral
        li Naranja
        li Kiwi
        Li Avena