doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Listas ordenadas
 body
   ol
     li Presional (CTRL + SHIFT + SHIFT)
     li Escribir "Install"
     li Seleccional "Install Package"
     li Escribir "Emment" y Presionar (ENTER)