doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Imagenes
 body
  img(src='https://i.ytimg.com/vi/QI_oLUo3Tpg/maxresdefault.jpg', width='450px', title="Imagen de Internet") 
  img(src='https://i.ytimg.com/vi/QI_oLUo3Tpg/maxresdefault.jpg', width='300px')
  
  img(src='https://i.ytimg.com/vi/QI_oLUo3Tpg/maxresdefault.jpg', width='150px')