doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Tablas
 body
   table(border=1)
     tr
       th Nombre Completo
       th Teléfono
       th Dirección
     tr
       td Jeremias Springfield
       td 8745189
       td Calle 11 #7A - 32
     tr
       td Homero Simpson
       td 8847544
       td Calle Siempre viva
     tr
       td Milhouse Van Houten
       td 5765541
       td Cra 22 #25