doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Tablas
 body
   table(border=1)
     tr
       th(colspan="5") PAOLA
       
       tr
         td(rowspan="3") Camilo 
         td Sergio
         td Sebastian
         td Juan
         td(rowspan="2") Kevin 
         
         
       tr
         td(colspan="3") Paola 
       tr
         td Sebastian
         td Juan
         td Camilo 
         td Sergio 
         