doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Secciones tablas
 body
   table(border=1)
     tfoot
         tr
           td(colspan=3) Informacion de Usuarios
         thead
           tr
             th Nombres
             th Titulación
             th Año
         tbody
           tr
             td hugo
             td ADSI
             td 2016
           tr
             td Paco
             td Salud Ocupacional
             td 2015
           tr
             td Luis
             td Soldadura
             td 2014