doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title audio (html5)
  body
    h1 audio (html5)
    audio(controls, autoplay, loop)
      source(src='mp3/himno_sena.mp3',
    type='audio/mpeg')
   