doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipo de entradas (Formulario)
  body
    h1 Tipo de entradas (formulario)
    hr
    form(method='post')
      //Color ------------
      LABEL(for='color') Color:
      input(type='color', id='color')
      br
      br
      //Date
      LABEL(for='date') Fecha:
      input(type='date', id='date')
      br
      br
      //Email
      LABEL(for='email') Email:
      input(type='email', id='email')
      br
      br
      //Month
      LABEL(for='month') Mes:
      input(type='month', id='month')
      br
      br
      //Number
      LABEL(for='number') Numero:
      input(type='number', id='number')
      br
      br
      //Range
      LABEL(for='range') Rango:
      input(type='range', id='range')
      br
      br
      //Search
      LABEL(for='search') Buscar:
      input(type='search', id='search')
      br
      br
      //Time
      LABEL(for='time') Tiempo:
      input(type='time', id='time')
      br
      br
      //URL
      LABEL(for='url') URL:
      input(type='url', id='url')
      br
      br
      //Week
      LABEL(for='week') Semana:
      input(type='week', id='week')