doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Ejemplo rutas relativas
    link(href='estilos.css', rel='stylesheet') 
  body
    .marcoppal
      .encabezado
        a(href='javascript') Inicio
        a(href='secciones/nosotros.html') Nosotros
        a(href='secciones/servicios.html') Servicios
        a(href='secciones/contacto.html') contacto
      .contenido
        h1 Bienvenidos a mi sitio web
        //- img(src'imagenes/index.png)
        img(src='http://www.web-design-studios.com/images/welcome.gif')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus repellendus doloribus quibusdam, vitae provident pariatur, facere cum reprehenderit, omnis vero beatae accusamus quasi quod, iusto excepturi maiores quos dolorem.
      .pie
        p Todos los derechos reservados 2016
  