doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title contacto - rutas relativas
    link(href='../estilos.css', rel='stylesheet') 
  body
    .marcoppal
      .encabezado
        a(href='../index.html') Inicio
        a(href='nosotros.html') Nosotros
        a(href='servicios.html') Servicios
        a(href='javascript:;') contacto
      .contenido
        h1 contacto
        //- img(src'imagenes/index.png)
        img(src='../imagenes/contacto.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus repellendus doloribus quibusdam, vitae provident pariatur, facere cum reprehenderit, omnis vero beatae accusamus quasi quod, iusto excepturi maiores quos dolorem.
      .pie
        p Todos los derechos reservados 2016
  