doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Nosotros - rutas relativas
    link(href='../estilos.css', rel='stylesheet') 
  body
    .marcoppal
      .encabezado
        a(href='../index.html') Inicio
        a(href='javascript:;') Nosotros
        a(href='servicios.html') Servicios
        a(href='contacto.html') contacto
      .contenido
        h1 Nosotros
        //- img(src'imagenes/index.png)
        img(src='../imagenes/nosotros.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus repellendus doloribus quibusdam, vitae provident pariatur, facere cum reprehenderit, omnis vero beatae accusamus quasi quod, iusto excepturi maiores quos dolorem.
      .pie
        p Todos los derechos reservados 2016
  