doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Codigo (jade)
  body
    h1 Codigo (jade)
    // Ciclo For
    - for (var i = 1; i <= 24; i++)
      li item #{i}
    br
    br
    -
      list = ["Estatura", "Peso", "Grasa Corporal", "Masa Muscular"]
    each item in list
      li= item