doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Comentarios (jade)
  body
    h1 Comentarios (jade)
    // Aparece el comentario en html
    p El once va a salir campeón
    p El ejercicio es bueno para la salud
    br
    //- No aparece el comentario en html (+-)
    p Once Caldas
    p Real Madrid