doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Condicionales (jade)
  body
    h1 Condicionales (jade)
    - var edad = 20
    // Condicional if (Si)
    if edad < 18
      h2 Menor de edad
    else
      h2 Mayor de edad 