
html {
	background: -webkit-linear-gradient(top, black,#5cc7b6);
	height: 100%;
}
body {
	font: 4em tahoma;
	text-align: center;
}
h1 {
	text-shadow: 5px 5px 5px #000;
	color: #fff;
	margin: 50px auto;
	-webkit-transition: all 0.5s ease-in-out;
}
h1:hover {
	-webkit-transform: translateY(20px);
}	